
<div class="flex-grid">
  <div class="col">
    <h1>COCKTAILS</h1>
    <hr>
  </div>
  
  <div class="col">
  <ul>
  <% @cocktails.each do |cocktail| %>
        <li>
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
          <%= link_to cocktail_path(cocktail), method: :delete, data: {confirm: 'Delete this cocktail?'}, :class=> "delete-icon" do %>
            <i class="far fa-times-circle"></i>
          <% end %>  
        </li>
      <% end %>
    </ul>
  </div>
</div>
