
<div class="container">
  <h1>COCKTAILS</h1>

  <div class="card">
    <ul>
      <% @cocktails.each do |cocktail| %>
        <li>
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
          <%= link_to 'Delete', cocktail_path(cocktail), method: :delete, data: {confirm: 'Delete cocktail?'} %>
          <i class="far fa-times-circle"></i>  
        </li>
      <% end %>
    </ul>
  </div>
</div>